header.desktop-header-1 .vertical-menu li i {
    color: mediumspringgreen;
}

header.desktop-header-1 .vertical-menu li a:hover {
    color: mediumspringgreen;
}

header.desktop-header-1 .vertical-menu li .nav-link.active {
    color: mediumspringgreen;
}

.social-icons.light li a:hover {
    color: mediumspringgreen;
}

.btn-center {
    margin:0 auto;
    display:block;
    margin-bottom: 2em;
}

.portfolio-item .details .more-button {
    background: rebeccapurple;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color : mediumspringgreen;
    outline: 1px solid slategrey;
    border-radius: 5em;
  }